[Unit]
Description=Update FRR Configuration
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'for f in /etc/frr.original/*; do envsubst < $f > /etc/frr/$(basename $f); done'
ExecStart=/usr/bin/systemctl reload frr
EnvironmentFile=/etc/wiit-env.vars
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target